@define-color bg #090809;
@define-color border-color #b3b2b3;
@define-color border-color-alt #80a1fe; 
@define-color text-color #b3b2b3;
@define-color text-color-alt #7aa2f7;
@define-color text-muted rgba(179, 178, 179, 1);
@define-color close-btn #f7768e;
@define-color text-color-alt-alt #f09578;



@define-color cc-bg rgba(9, 8, 9, 1);
@define-color noti-border-color rgba(255, 255, 255, 0.15);
@define-color noti-bg rgb(9, 8, 9);
@define-color noti-bg-darker rgb(9, 8, 9);
@define-color noti-bg-hover rgb(9, 8, 9);
@define-color noti-bg-focus rgba(9, 8, 9, 0.6);
@define-color noti-close-bg rgba(255, 255, 255, 0.1);
@define-color noti-close-bg-hover rgba(255, 255, 255, 0.15);
@define-color text-color rgba(179, 178, 179, 1);
@define-color text-color-disabled rgba(179, 178, 179, 0.6);
@define-color bg-selected rgb(0, 128, 255);

* {
  font-family: VictorMono NFM SemiBold;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
  opacity: 1;
  background: @noti-bg-darker;
}

.notification-row {
  outline: none;
  padding: 0px;
}

.notification {
  background: @bg;
  border: 2px solid @border-color;
  border-radius: 0.5rem;
  margin: 0;
}

.notification-content {
  background: @bg;
}

.notification-default-action {
  margin: 0;
  padding: 0;
  border-radius: 0px;
}

.close-button {
  background: @close-btn;
  color: @bg;
  text-shadow: none;
  padding: 0px;
  border-radius: 0px;
}
.close-button:hover {
  box-shadow: none;
  transition: all 0.15s ease-in-out;
  border: none;
}

.notification-action {
  border: 2px solid @border-color;
  border-top: none;
  border-radius: 0px;
}

.notification-default-action:hover,
.notification-action:hover {
  color: @text-color-alt;
  background: @bg;
}

.notification-default-action {
  border-radius: 5px;
  margin: 0px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}

.notification-action:first-child {
  border-bottom-left-radius: 10px;
  background: #1b1b2b;
}

.notification-action:last-child {
  border-bottom-right-radius: 10px;
  background: #1b1b2b;
}

.inline-reply {
  margin-top: 8px;
}

.inline-reply-entry {
  background: @noti-bg-darker;
  color: @text-color;
  caret-color: @text-color;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
}

.inline-reply-button {
  margin-left: 4px;
  background: @noti-bg;
  border: 1px solid @noti-border-color;
  border-radius: 5px;
  color: @text-color;
}

.inline-reply-button:disabled {
  background: initial;
  color: @text-color-disabled;
  border: 1px solid transparent;
}

.inline-reply-button:hover {
  background: @noti-bg-hover;
}

.image {
  border-radius: 0px;
  margin-right: 10px;
}

.summary {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: rgba(158, 206, 106, 1);
  text-shadow: none;
}

.time {
  font-size: 16px;
  font-weight: 700;
  background: transparent;
  color: @text-color;
  text-shadow: none;
  margin-right: 18px;
}

.body {
  font-size: 15px;
  font-weight: 400;
  background: transparent;
  color: @text-color;
  text-shadow: none;
}

.control-center {
  background: @cc-bg;
  border: 2px solid @border-color-alt;
  border-radius: 0.3rem;
  margin: 1rem;
}

.control-center-list {
  background: transparent;
}

.control-center-list-placeholder {
  opacity: 0.5;
}

.floating-notifications {
  background: transparent;
}

.blank-window {
  background: alpha(black, 0.1);
}

.widget-title {
  color: @text-color-alt;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 10px 10px 5px 10px;
  font-size: 1.5rem;
  border-radius: 5px;
}

.widget-title > button {
  font-size: 1rem;
  color: @text-color;
  text-shadow: none;
  background: @noti-bg;
  box-shadow: none;
  border-radius: 5px;
}

.widget-title > button:hover {
  background: #f7768e;
  color: @cc-bg;
}

.widget-dnd {
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px;
  border-radius: 5px;
  font-size: large;
  color: #7aa2f7;
}

.widget-dnd > switch {
  border-radius: 5px;
  background: #7aa2f7;
}

.widget-dnd > switch:checked {
  background: #f7768e;
  border: 1px solid #f7768e;
}

.widget-dnd > switch slider,
.widget-dnd > switch:checked slider {
  background: @cc-bg;
  border-radius: 5px;
}

.widget-label {
  margin: 10px 10px 5px 10px;
}

.widget-label > label {
  font-size: 1rem;
  color: @text-color;
}

.widget-mpris {
  color: @text-color;
  background: @noti-bg-darker;
  padding: 5px 10px;
  margin: 5px 10px 5px 10px;
  border-radius: 5px;
}

.widget-mpris > box > button {
  border-radius: 5px;
}

.widget-mpris-player {
  padding: 5px 10px;
  margin: 10px;
}

.widget-mpris-title {
  font-weight: 700;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}

.widget-buttons-grid {
  font-size: x-large;
  padding: 5px;
  margin: 10px 10px 5px 10px;
  border-radius: 0px;
  background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
  margin: 3px;
  background: @cc-bg;
  border-radius: 0px;
  color: @text-color;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
  background: rgba(122, 162, 247, 1);
  color: @cc-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
  background: rgb(158, 206, 106);
  color: @cc-bg;
}

.widget-menubar > box > .menu-button-bar > button {
  border: none;
  background: transparent;
}

.topbar-buttons > button {
  border: none;
  background: transparent;
}

.widget-volume {
  background: @noti-bg-darker;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 0px;
  font-size: 2rem;
  color: #7aa2f7;
}

.widget-backlight {
  background: @noti-bg-darker;
  padding: 5px;
  margin: 5px 10px;
  border-radius: 0px;
  font-size: 2rem;
  color: #7aa2f7;
}
